.form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.form-control div,
.form-control > textarea,
.form-control > input {
  width: 100%;
  padding: 5px;
}

.form-control > button {
  display: block;
  width: 100%;
  margin: 0 auto;
}
