.card-item {
  box-shadow: 10px 10px 10px #888888;
  border: 2px solid rgb(203, 203, 203);
  border-radius: 20px;
  width: 31%;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.card-item-overlay {
  height: 95%;
  width: 95%;
  border-radius: 15px 15px 0 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(195, 193, 193);
  position: absolute;
  top: 5px;
  left: 8px;
}

.card-item-description {
  padding: 10px;
}

.card-item-description > p {
  color: rgb(92, 92, 92);
}

.overlay-container {
  position: relative;
}

.card-item img {
  width: 101%;
  border-radius: 15px 15px 0 0;
}

.fa-bars {
  position: absolute;
  font-size: 20px;
  color: white;
  top: 5px;
  right: 5px;
}
.like-btn,
.delete-btn {
  font-size: 24px;
}
.like-btn {
  margin-left: 5px;
}

.card-buttom {
  color: black;
  padding: 5px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-buttom a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}
